# Importing the libraries and the dataset :

In [ ]:
import pandas as pd

df=pd.read_csv('Bengaluru_House_Data.csv')
df.head()

# Check the shape of the dataset (rows,columns) :

In [ ]:
df.shape

# Check null cells in each column :

In [ ]:
df.isnull().sum()

# Fill null cells with a specific value:

In [ ]:
df2=df.fillna(value=0)
df2

# Fill the cell with previous values :

In [ ]:
df3=df.fillna(method='pad')
df3

# Fill null cells with the next values :

In [ ]:
df4=df.fillna(method='bfill')
df4

# Fill the null values with privious values but by columns :

In [ ]:
df5=df.fillna(method='pad',axis=1)
df5

# Fill the null values with next values but by column :

In [ ]:
df6=df.fillna(method='bfill',axis=1)
df6

# Filling different values in null cells in different columns :

In [ ]:
df7=df.fillna({'society':'ali','balcony':'ibraheem'})
df7

# Filling the null cells with the Mean value of the column :

In [ ]:
df8=df.fillna(value=df['balcony'].mean())
df8

# Filling the null cells with the Max value of the column :

In [ ]:
df9=df.fillna(value=df['balcony'].max())
df9

# drop the row with null values :

In [ ]:
df10=df.dropna()
df10

# drop the row such that all its element is null :

In [ ]:
df11=df.dropna(how='all')
df11

# replace a selected value with another value :

In [ ]:
import numpy as np
df12=df.replace(to_replace=np.nan,value=111)
df12

# Interpolate the null values :

In [ ]:
df13=df['balcony'].interpolate(method='linear')
df13